.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #344955;
}
.icon {
  font-size: 1.6rem;
  color: #344955;
}
.right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}
.search-input {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #eee;
  padding: 5px 12px;
  border-radius: 10px;
}
.search-input input {
  background: transparent;
  padding: 5px;
}
.search-input input::placeholder {
  color: #b5c0d0;
  font-weight: 500;
}
.search-input .icon {
  font-size: 1.3rem;
}

/* cart-icon*/

.cart {
  display: flex;
  align-items: center;
  position: relative;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: #344955;
}
.cart span {
  position: absolute;
  top: -12px;
  right: -13px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  /* background-color: #b5c0d0; */
  background-color: blue;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
}
